body {
  background-image: url('background.jpg');
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}
a{
  text-decoration:none
}
.post{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.card{
  margin: 10px;
}
.dropdown{
 margin: 5px; 
}

.nav-item{
  display: flex;
}

.nav-item{
margin-top: 8px;
}
