<h3>Главная страница и все посты через each</h3>
<div id="container">
  {{#each everyPost}}
  <div>
    <hr>
    <p>{{this.id}}</p>
    <p>{{this.photo}}</p>//ссылка
    <p>{{this.title}}</p>
    <p>{{this.description}}</p>
    
  </div>
  {{/each}}
</div>

