<h3>Главная страница и все посты через each</h3>
<div class="post">
{{#each everyPost}}
<div class="card" style="width: 25rem;">
  <a href="/post/{{this.id}}">
    {{#if this.photo}}
    <img src="{{this.photo}}" class="card-img-top" alt="photo">
    {{/if}}
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.description}}</p>
    </div>
  </a>
</div>
{{/each}}
</div>
