<div class="mb-3"></div>
<div class="container">
  <form  method="POST" action="/post/new"  enctype="multipart/form-data">
    <div class="mb-3">
      <select name="" class="form-select" aria-label="Default select example">
        <option> Выберите категорию</option>
        <option value="1">Личные вещи</option>
        <option value="2">Электроника</option>
        <option value="3">Документы</option>
        <option value="4">Животные</option>
        <option value="5">Другое</option>
      </select>
    </div>

    <div class="mb-3">
<input type="text" name="title" placeholder="Название предмета" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3"><input type="text" name="description" placeholder="Описание поста" class="form-control" id="exampleInputPassword1">
      </div>
    <div class="mb-3"><input type="file" name="photo" placeholder="Загрузить фотографию" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary">Добавить новый пост</button>
  </form>
</div>
